@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:13px Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding-top: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

.cabecera-menu ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 15px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 15px;
}

.cabecera-menu ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 6px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 14px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

.cabecera-menu ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

.cabecera-menu ul li a:hover {
    opacity: 1;
}


.cabecera-menu ul li{
    display: inline-block;
}

.main-content{
    margin-bottom: 30px;
}

.contenedor-user-info{
    height: 30px;
    width: 70%;
    margin: 0 auto;
    
}

.user-info{
    width: 300px;
    height: 30px;
    background-color: #FFFFFF;
    float: right;
    max-width: 1000px;
    box-shadow: 2px 7px 4px -1px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: #357ebd;
}

.user-icon{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 10px !important;
    padding-bottom: 0px !important;
    margin-left: 5px;
    margin-top:3px;
    display: block;
    background-position: -168px 0;
    float:left;
}

.icon-salir{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 10px !important;
    padding-bottom: 0px !important;
    margin-left: 5px;
    margin-top:3px;
    display: block;
    background-position: -383px 0;
    float:right;
}

.icon-inicio{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 10px !important;
    padding-bottom: 0px !important;
    margin-left: 5px;
    margin-top:3px;
    display: block;
    background-position: 4px -25px;
    float:right;
}

.addEmpresa-icon{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 8px !important;
    padding-bottom: 0px !important;
    margin-left: 635px;
    margin-top:7px;
    display: block;
    background-position: -407px -96px;
    float:center;
}
.addCategory-icon{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 8px !important;
    padding-bottom: 0px !important;
    margin-left: 635px;
    margin-top:7px;
    display: block;
    background-position: -407px -96px;
    float:center;
}

.addSubCategory-icon{
    background: url(../imagenes/glyphicons-halflings.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none !important;
    padding: 8px !important;
    padding-bottom: 0px !important;
    margin-left: 635px;
    margin-top:7px;
    display: block;
    background-position: -407px -96px;
    float:center;
}

.contenedor-blanco
{
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.circulo-estado-verde, .circulo-estado-amarillo, .circulo-estado-rojo{
   width: 20px;
   height: 20px;
   -moz-border-radius: 50px; 
   -webkit-border-radius: 50px; 
   border-radius: 50px;
   margin: 0px 0 0 15px;     
}

.circulo-estado-verde { 
   background:#5cb85c; 
}

.circulo-estado-rojo { 
   background:#F00707; 
}

.circulo-estado-amarillo { 
   background:#F1F107; 
}

.chosen-select{
    width: 300px; 
    display: none;
    font-size: 12px;
}

.noty_message { 
    text-align: left !important;
}

.flexigrid div.bDiv table {
    font-size: 13px;
}

.flexigrid .ftitle-left{
    font-size: 18px;
}

.flexigrid div.form-div{
    font-size: 13px;
}

.default-form{
    font: bold 13px sans-serif;
}

.default-form .form-row{
    text-align: left;
    margin-bottom: 14px;
}

.default-form .form-row  > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #5f5f5f;
    width: 100%;
    padding-right: 25px;
}

.default-form input{
    color: #5f5f5f;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 18px;
    border: 1px solid #dbdbdb;
}

.default-form button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 35px;
    border: 0;
    margin: 20px auto 0;
    cursor: pointer;
}

input.error{
    border-color:red !important;
}

label.error{
    color:red;
    font-style:italic;
    width:100%;
}

.user-menu a{
    text-decoration: none;
    color: #357ebd;
}

.user-menu a:hover{
    color: midnightblue;
    font-style:italic;
}