.contenedor-blanco
{
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 70%;
    height: 70%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 20px;
}

.circulo-estado-verde, .circulo-estado-amarillo, .circulo-estado-rojo{
   width: 20px;
   height: 20px;
   -moz-border-radius: 50px; 
   -webkit-border-radius: 50px; 
   border-radius: 50px;
   margin: 0px 0 0 15px;     
}

.circulo-estado-verde { 
   background:#5cb85c; 
}

.circulo-estado-rojo { 
   background:#F00707; 
}

.circulo-estado-amarillo { 
   background:#F1F107; 
}

